<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="src.testng.day1"/>
            <class name="src.testng.day2" />
        </classes>
    </test>
    <test name = "test2">
        <classes>
            <class name="src.testng.day3"/>
        </classes>
    </test>

</suite>